id: 5
templatename: Impressum
description: ''
category: Admin
properties: 'a:0:{}'

-----

[[$htmlHeader]]
        
        [[$header]]

        
        <!-- content -->
        <div class="padding-top-10 padding-bottom-3">
            <div class="container container--small">
                <h1 class="padding-bottom-1">Impressum</h1>
                <h3>Catharina Guth<br /></h3>
                <p>Nackstr. 51 <br> 55118 Mainz
                </p>
                <p><strong>T</strong> 0176.64968297<br />
                <p><strong>M</strong> <a title="info@kleintierklinik-ettlingen.de" href="mailto:kontakt@catharinaguth.de" target="_blank">kontakt at catharinaguth.de<br /></a><strong>W</strong> www.catharinaguth.de</p>
                <p><strong>Verantwortlich für den Inhalt der Homepage:</strong>
                    <br />Catharina Guth</p>
                <h3>Haftung für Inhalte</h3>
                <p>Obwohl wir uns um Aktualität, Vollständigkeit und Richtigkeit der Inhalte unserer Seiten bemühen, können wir hierfür keine Garantie übernehmen. Nach § 7 Absatz 1 TMG sind wir als Dienstanbieter für eigene Inhalte auf unseren Seiten nach den allgemeinen Gesetzen verantwortlich.</p>
                <p>Eine Verpflichtung zur Überwachung übermittelter oder gespeicherter fremder Informationen besteht jedoch nicht (§§ 8-10 TMG). Sobald uns Rechtsverstöße bekannt werden, werden wir die entsprechenden Inhalte umgehend entfernen. Eine dahingehende Haftung wird jedoch erst ab dem Zeitpunkt der Kenntnis konkreter Rechtsverletzungen übernommen.</p>
                <h3>Haftungsausschluss</h3>
                <p>Unsere Seiten enthalten Links auf externe Webseiten Dritter. Auf die Inhalte dieser verlinkten Webseiten haben wir keinen Einfluss. Für die Richtigkeit der Inhalte ist immer der jeweilige Anbieter oder Betreiber verantwortlich, weshalb wir diesbezüglich keinerlei Gewähr übernehmen. Die fremden Webseiten haben wir zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Zum Zeitpunkt der Verlinkung waren keinerlei Rechtsverletzungen erkennbar. Eine ständige Überprüfung sämtlicher Inhalte der von uns verlinkten Seiten ohne tatsächliche Anhaltspunkte für einen Rechtsverstoß können wir nicht leisten. Falls uns Rechtsverletzungen bekannt werden, werden wir die entsprechenden Links sofort entfernen.</p>
                <h3>Urheberrecht</h3>
                <p>Die durch den Betreiber dieser Seite erstellten Inhalte und Werke auf diesen Webseiten unterliegen dem deutschen Urheberrecht. Sämtliche Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Kopien von diesen Seiten sind nur für den privaten Bereich gestattet, nicht jedoch für kommerzielle Zwecke.</p>
                <h3>Online-Streitbeilegung</h3>
                <p>Die Europäische Kommission stellt unter <a href="https://ec.europa.eu/consumers/odr/" target="_blank">https://ec.europa.eu/consumers/odr/</a> eine Plattform zur Online-Streitbeilegung bereit, die Verbraucher für die Beilegung einer Streitigkeit nutzen können und auf der weitere Informationen zum Thema Streitschlichtung zu finden sind.</p>
                <h3>Außergerichtliche Streitbeilegung</h3>
                <p>Wir sind weder verpflichtet noch dazu bereit, im Falle einer Streitigkeit mit einem Verbraucher an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

            </div>


        </div>

        [[$footer]]

[[$htmlFooter]]