/* --------------------------------------------------------------------------- */
/*
/*	Fonts
/*
/* --------------------------------------------------------------------------- */

@font-face {
    font-family: 'BadScript-Regular';
    src: url('../fonts/BadScript-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'dosis.light';
    src: url('../fonts/dosis.light.ttf') format('truetype');
    font-weight: normal;
}
