/* --------------------------------------------------------------------------- */
/*
/*	footer
/*
/* --------------------------------------------------------------------------- */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    position: relative;
    color: $colorTertiary;
    margin-top: auto;

    &__list {
        display: flex;

        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            &:last-of-type {
                justify-content: flex-end;
            }

            li.active a,
            a:hover {
                font-weight: 900;
            }
        }

    }

    & li {
        padding-left: 2rem;
    }

    &__wrapper {
        background-color: $colorPrimary;
    }

    &__logo {
        height: 4rem;
        width: 9.16rem;
        display: block;

        &Wrapper {
            margin-left: 2rem;
        }
    }
}
