/* --------------------------------------------------------------------------- */
/*
/*	header
/*
/* --------------------------------------------------------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    position: relative;
    padding: 1.5rem 0;

	@media (max-width: 900px) {
        padding: 1rem 0;
        display: block;
    }

    &__wrapper {
        position: fixed;
        width: 100%;
        background-color: $colorPrimary;
        z-index: 5;
    }

    &__toggle {
        background: none;
        color: $colorTertiary;

        @media (max-width: 900px) {
            background: $colorPrimary;
        }
    }

    &__logo {
        font-weight: 600;
        @media (max-width: 900px) {
            margin-right: 60px;
        }

    }

    & a {
        opacity: 1;

        &:hover {
            opacity: 0.5;
        }
    }

    &__nav {
        @media (max-width: 900px) {
            display: none;
        }

        ul {
            display: flex;
            justify-content: flex-end;

            @media (max-width: 900px){
                flex-wrap: wrap;
                width: 100%;
            }
        }


        li {
            padding-left: 2rem;

            @media (max-width: 900px){
                width: 100%;
                padding: 1rem 0 0 0;
                display: block;
            }

            &.active a,
            a:hover {
                font-weight: 900;
            }
        }

        &Hidden {
            display: none;
        }

        li a:hover &Hidden {
            display: block;
        }

        li a:hover &Default {
            display: none;
        }
    }

    &__button {
        display: none;
        height: 2rem;
        width: 2rem;
        position: relative;
        top: 0.4rem;

        @media (max-width: 900px){
            position: absolute;
            right: 0;
            top: 1.3rem;

            &.active {
                display: block;
            }
        }

        &:hover {
            cursor: pointer;
        }

        &Wrapper {
            position: absolute;
            right: -14rem;
            top: 2.4rem;
        }
    }

    &__topLine {
        background-color: #fff;
    }

    &__contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .8rem 0;
        font-size: .8em;

        &Title {
            @media (max-width: 900px) {
                display: none;
            }
        }

        &Info {
            display: flex;
            flex-wrap: wrap;
        }

        &Link {
            display: inline-flex;
            align-items: center;
            margin-left: 1.5rem;

            &:hover .header__contactIcon {
                fill: $colorQuartery;
            }

            &:first-child {
                @media (max-width: 900px) {
                    margin-left: 0;
                }
            }

            &Inner {
                @media(max-width: 450px) {
                    display: none;
                }
            }
        }

        &Icon {
            width: 1.5rem;
            height: 1.5rem;
            fill: currentColor;
            margin-right: .5em;
            fill: currentcolor;
        }

        &Link:last-child &Icon {
            margin-right: 0;
        }
    }

    &__social {
        &Link {
            margin-left: 1.5rem;
        }

        &Icon {
            display: block;
            width: 20px;
            height: 20px;

            &--small {
                position: relative;
                top: 1px;
                width: 17px;
                height: 17px;
            }
        }
    }
}
