/* --------------------------------------------------------------------------- */
/*
/*	ie11
/*
/* --------------------------------------------------------------------------- */
.no-cssgrid {

    * {
        min-height: 1px;
    }

    .gallery__image--kontakt img {
        font-family: 'object-fit: cover;';
        display: none;
    }
}
