 /* ==========================================================================
 *
 *    CSS main
 *
 *  ========================================================================== */



/* --------------------------------------------------------------------------- */
/*
/*	Variables
/*
/* --------------------------------------------------------------------------- */

// fonts
$fontRegular: 'dosis.light', sans-serif;
/*$fontRegular: 'EBGaramond12-Regular', serif;*/
$fontSecondary: 'BadScript-Regular', cursive;


// colors
$colorPrimary: #e8eff2;
$colorSecondary: white;
$colorTertiary: #464646;
$colorQuartery: #c4281d;

// sizes




/* --------------------------------------------------------------------------- */
/*
/*	Vendor Imports
/*
/* --------------------------------------------------------------------------- */

@import 'normalize';




/* --------------------------------------------------------------------------- */
/*
/*	Imports
/*
/* --------------------------------------------------------------------------- */

@import 'fonts';
@import 'globals';

@import 'accordion';
@import 'notice';
@import 'headlines';
@import 'buttons';
@import 'padding';
@import 'header';
@import 'hero';
@import 'animation';
@import 'section';
@import 'meeting';
@import 'footer';
@import 'gallery';
@import 'ie11';
@import 'content';
@import 'offer';
@import 'audio';
