/* --------------------------------------------------------------------------- */
/*
/*	Fonts
/*
/* --------------------------------------------------------------------------- */

@font-face {
    font-family: 'BadScript-Regular';
    src: url('../fonts/BadScript-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'EBGaramond12-Regular';
    src: url('../fonts/EBGaramond12-Regular.ttf') format('truetype');
    font-weight: normal;
}
