/* --------------------------------------------------------------------------- */
/*
/*	gallery
/*
/* --------------------------------------------------------------------------- */
.gallery {
    display: flex;
	@media (max-width: 320px) {}

    &__image {
        max-width: 100%;

        &Wrapper {
            flex: 1.5;
            padding: 3rem;

            &--small {
                flex: 0.66625;
            }
        }
    }
}
