/* --------------------------------------------------------------------------- */
/*
/*	gallery
/*
/* --------------------------------------------------------------------------- */
.gallery {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 60rem;
    grid-gap: 5%;
    max-width: 100%;

    @media (max-width: 900px) {
        grid-template-columns: 100%;
        grid-template-rows: 40rem 40rem 40rem;
    }

    &--kontakt {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 2%;


        @media (max-width: 900px) {
            grid-template-columns: 1fr;
        }

        @media (max-width: 600px) {
            grid-gap: 0;
        }
    }

    &--angebot {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 2%;

        @media (max-width: 900px) {
            grid-template-columns: 100%;
        }
    }

    &__image {
        object-fit: cover;
        height: 100%;
        width: 100%;

        &--angebot {
            object-position: 100% 50%;
        }
        &--angebot-var {
            object-position: 100% 60%;
        }

        &--kontakt {
            object-position: 0% 40%;
            max-height: 600px;
        }

        &Wrapper {
            position: relative;

            &--order {
                @media (max-width: 900px) {
                    order: 2;
                }
            }

            &:hover {
                .gallery__overlay {
                    opacity: 1;
                }
            }
        }
    }

    &__figureWrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 4rem;

        & li {
            color: $colorSecondary;
            background: rgba(0,0,0,0.1);
        }
    }

    &__figure {
        font-family: $fontSecondary;
        color: $colorSecondary;
        font-size: 3.6rem;
        font-weight: 900;
        text-align: center;

        &--black {
            color: $colorTertiary;
        }
    }

    &__description {

        & h3 {
            text-transform: uppercase;
            min-height: 80px;
            display: block;
            margin-bottom: 1rem;

            @media (max-width: 900px) {
                min-height: 0;
            }
        }
        & span {
            padding: 0.5rem 0;
            display: block;
        }

        & a {
            text-decoration: underline;
        }
    }

    &__overlay {
        opacity: 0;
        transition: all .4s ease;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        background-color: #EFFBF8;
    }

    &__logo {
        height: auto;
        width: 200px;
        display: block;


    }
}
