/* --------------------------------------------------------------------------- */
/*
/*	header
/*
/* --------------------------------------------------------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    position: relative;

	@media (max-width: 320px) {}

    &__wrapper {
        position: fixed;
        width: 100%;
        background-color: $colorPrimary;
        color: $colorSecondary;
        z-index: 5;
    }

    &__toggle {
        background: none;
        color: $colorTertiary;


        & .header__logo {
            font-size: 2.5rem;
        }
    }

    &__logo {
        font-weight: 600;
    }

    &__nav {
        display: flex;
        margin-left: auto;
        justify-content: flex-end;
        width: 50rem;
        padding-right: 5rem;

        @media (max-width: 800px){
            flex-wrap: wrap;
        }

        &Item {
            padding-left: 2rem;
            display: none;

            @media (max-width: 800px){
                width: 100%;
                padding: 1rem 0 0 0;
            }

            &.active {
                display: block;
            }
        }
    }

    &__button {
        display: none;
        font-weight: 600;

        &Wrapper {
            position: absolute;
            right: 0;
            top: 2.5rem;
        }

        &.active {
            display: block;
        }
    }
}
