/* --------------------------------------------------------------------------- */
/*
/*	section
/*
/* --------------------------------------------------------------------------- */
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;

    &--wide {
        width: 100%;
    }

    & h1, h3 {
        font-family: $fontSecondary;
        width: 95%;
        text-align: center;
    }

    &__quote {
        border-top: 1px solid $colorQuartery;
        margin-top: 2rem;

        & h2 {
          @media (max-width: 800px) {
                font-size: 20px;
          }
        }
    }

	  @media (max-width: 850px) {
        width: 100%;
    }

    &__container {
        display: flex;
        justify-content: center;
    }

    &__wrapper {
        background: rgba(255,255,255,0.85);
        height: 100%;
        @media (max-width: 1100px) {
            padding-top: 8rem;
        }

        &--padding {

            padding-top: 3rem;

            @media (max-width: 600px) {
                padding-top: 10rem;
            }
        }
    }

    &__list {
        width: 100%;

        &Points {

            & li {
                padding-left: 8rem;

                @media (max-width: 600px) {
                    padding-left: 3rem;
                }

                &:before {
                    content: "|";
                    color: $colorQuartery;
                    padding-right: 0.8rem;
                }
            }

        }
    }

}
