 /* ==========================================================================
 *
 *    CSS main
 *
 *  ========================================================================== */



/* --------------------------------------------------------------------------- */
/*
/*	Variables
/*
/* --------------------------------------------------------------------------- */

// fonts
/*$fontRegular: 'Calibri', sans-serif;*/
$fontRegular: 'EBGaramond12-Regular', serif;
$fontSecondary: 'BadScript-Regular', cursive;


// colors
$colorPrimary: #d0edde;
$colorSecondary: white;
$colorTertiary: #464646;

// sizes




/* --------------------------------------------------------------------------- */
/*
/*	Vendor Imports
/*
/* --------------------------------------------------------------------------- */

@import 'normalize';




/* --------------------------------------------------------------------------- */
/*
/*	Imports
/*
/* --------------------------------------------------------------------------- */

@import 'fonts';
@import 'globals';

@import 'headlines';
@import 'buttons';
@import 'padding';
@import 'header';
@import 'hero';
@import 'animation';
@import 'section';
@import 'meeting';
@import 'footer';
@import 'gallery';
