 /* ==========================================================================
 *
 *    CSS main
 *
 *  ========================================================================== */



/* --------------------------------------------------------------------------- */
/*
/*	Variables
/*
/* --------------------------------------------------------------------------- */

// fonts
$fontRegular: 'Lucida Sans', sans-serif;

// colors
$colorPrimary: #7FB3D5;
$colorSecondary: white;
$colorTertiary: #464646;

// sizes




/* --------------------------------------------------------------------------- */
/*
/*	Vendor Imports
/*
/* --------------------------------------------------------------------------- */

@import 'normalize';




/* --------------------------------------------------------------------------- */
/*
/*	Imports
/*
/* --------------------------------------------------------------------------- */

@import 'fonts';
@import 'globals';

@import 'headlines';
@import 'buttons';
@import 'padding';
@import 'header';
@import 'hero';
@import 'animation';
@import 'section';
@import 'meeting';
@import 'footer';
@import 'gallery';
